* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#clock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15vw; /* Font size will adjust according to viewport width */
    font-weight: 1000;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid white;
    color: aqua;
    max-width: 90vw;
    max-height: 90vh;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #clock {
        font-size: 15vw; /* Larger relative font size for smaller screens */
        padding: 5px;
    }
}

@media (max-width: 480px) {
    #clock {
        font-size: 15vw;
        padding: 2px;
    }
}
